body{
    background-image: url("./green_background.png");
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #ACD2ED;
    color:black;
    text-align:center;
    font-size:50px;
    border: 3px solid white;
}

.navbar{
    background-color: white;
    border:solid #000080;
    font-size: 20px;
}

table{
    background-repeat: white;
}

.navbar th{
    border: solid #000080;
    padding: 5px;
}

footer{
    background-color:#000080;
    color:white;
    font-size:12px;
    border:3px solid white;
    padding-left:5px;
}

.profile{
    background-color:#3E92CC;
    text-align:center;
}

.even-row{
    background-color: #5764a5;
}

h2{
    color:white;
    background-color:#000080;
    font-size:25px;

}

li{
    font-size:14px;
    color:white;
}

ol{
    background-color: #000080;
}

a:hover{
    color:rgb(84, 31, 73);
}

.dropdown{
    display:inline-block;
}

.dropdown-content{
    display:none;
    position:absolute;
    background-color:white;
    color: #000080;
    box-shadow: 2px 2px 10px black;
}
.dropdown:hover .dropdown-content{
    display: block;
    position:absolute;
    left:600px;
}

.active{
    background-color:lightcoral;
}

a{
    text-decoration: none;
    color:#000080;
}